@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    inset: unset;
    box-sizing: border-box;
}

:root {
    /* Useful (and useless) CSS properties */
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* ^ This one will be use as JetBrains Mono very soon */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* COLORS (and accent!) */
    --accent: #60E2FC;
    --secondary: #60FCAE;
    --bg: rgb(0, 0, 0);
    --gm-surface: rgba(0, 0, 0, .5);
    --fg: rgb(255, 255, 255);
    --shadow-subtle: 0 2px 10px rgba(0, 0, 0, .4);
    --round-sm: .3rem;
    --round-md: .5rem;
    --round-lg: 1.2rem;
}

html,
body {
    background-color: var(--bg);
    color: var(--fg);
}

section#s-main {
    background-color: #6080FC;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .5rem;
    padding-inline: 1.2rem;
    line-height: normal !important;
}

section#s-main>img#scroll-icon {
    width: 30px;
    height: 30px;
}

section#s-main h1 {
    font-size: 3.5em;
    text-wrap: balance;
    text-align: center;
}

section#s-main h1>span {
    color: var(--accent);
    text-shadow: 0 0 24px  var(--accent);
}

section#s-main h1>span#secondary {
    color: var(--secondary);
    text-shadow: 0 0 24px  var(--secondary);
}

section#s-main p {
    font-size: 1.5em;
    text-wrap: balance;
    text-align: center;
}

section {
    line-height: 1.7em;
    padding-inline: .5rem;
    border-bottom: 2px solid #2f2f2f;
}

section:nth-child(1),
section:nth-child(4) {
    border-bottom: none;
}

#s-about,
#s-project,
#s-info {
    padding: 1.5rem;
}

#s-about>h1,
#s-project>h1,
#s-info>h1 {
    font-size: 2.3em;
    margin-bottom: .5rem;
}

div#bsky-card {
    --_bsky-accent: #60B1FC;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-top: 1.5rem;
    background-color: var(--_bsky-accent);
    color: black;
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 100vmax var(--_bsky-accent);
    clip-path: inset(0 -100vmax);
}

div#bsky-card>h1 {
    font-size: 1.5em;
}

div#bsky-card>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    width: calc(100vw - 55%);
}

code {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    display: block-inline;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: .3rem;
}

div#cards {
    width: fit-content;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: .3rem;
}

div#cards>header {
    text-wrap: balance;
}

div#card {
    background-color: var(--secondary);
    color: black;
    padding: .5rem;
    width: 100%;
}

@media screen and (max-width: 700px) {
    div#cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    div#cards {
        grid-template-columns: 1fr;
    }
}