@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    inset: unset;
    box-sizing: border-box;

    /*  Do don't use user select, drag and modify. You've warned. */
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    user-select: none;
}

:root {
    /* Useful (and useless) CSS properties */
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* COLORS */
    --text: #08090a;
    --background: #f6f7fb;
    --background-100: #dde0ee;
    --background-200: #dde0ee;
    --background-300: #99a3cc;
    --primary: #3a5cc6;
    --secondary: #819bee;
    --accent: #416efd;
    --accent-300: #688bfd;
    --accent-600: #0231ca;
}

html,
body {
    background-color: var(--background);
    color: var(--text);
}

section#s-main {
    color: --text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .5rem;
    padding-inline: 1.2rem;
    line-height: normal !important;
}

section#s-main>#scroll-icon {
    color: currentColor;
    width: 30px;
    height: 30px;
    animation: bounce .5s infinite alternate cubic-bezier(0, 0, .5, 1);
}

span#pride {
    font-weight: bold;
    background: repeating-linear-gradient(90deg, #745125, #E62C46, #F36D38, #FFD23E, #61BC51, #1793E8, #B73FBB, #745125);
    background-size: 400% 400%;
    animation: gradient 5s infinite linear;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span#accent {
    font-weight: bold;
    color: var(--accent-600);
}


section#s-main h1 {
    font-size: 3.5em;
    text-wrap: balance;
    text-align: center;
}

section#s-main h1>span {
    background: var(--primary);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#s-main h1>span#secondary {
    background: var(--accent-600);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#s-main p {
    font-size: 1.5em;
    text-wrap: balance;
    text-align: center;
}

section {
    line-height: 1.9em;
    padding-inline: .5rem;
    border-bottom: 2px solid #2f2f2f;
}

section:nth-child(1),
section:nth-child(4) {
    border-bottom: none;
}

section:nth-child(4) {
    padding-bottom: 0;
}

#s-about,
#s-project,
#s-info {
    padding: 1.5rem;
}

#s-about>h1,
#s-project>h1,
#s-info>h1 {
    font-size: 2.3em;
    margin-bottom: .5rem;
}

div#fw-card {
    z-index: 0 !important;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    background-color: var(--background-100);
    color: currentColor;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    clip-path: inset(0 -100vmax);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div#fw-card:nth-last-child() {
    margin-bottom: 0;
}

div#fw-card>h1 {
    font-size: 1.5em;
}

div#fw-card>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    background-color: var(--accent);
    gap: .5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
}

div#fw-card>a:hover {
    background-color: var(--accent-300)
}

code {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    display: block-inline;
    background-color: #000;
    color: white;
    padding: .3rem;
}

div#cards {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: .3rem;
}

div#s-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: .3rem;
}

div#cards>header {
    text-wrap: balance;
}

div#card {
    background-color: var(--background-100);
    color: currentColor;
    padding: 0.5rem 1rem;
    width: 100%;
}

div#s-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    background-color: var(--background-100);
    padding: 0.5rem 1rem;
    width: 100%;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--accent);
    margin: .7rem;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

img#close_banner {
    cursor: pointer;
}

div#s-card>img {
    width: 70px;
    height: 70px;
}

div#flex-row {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

div#flex-row>img {
    width: 100px;
    height: 100px;
}

h1#sub-t {
    margin: 1rem 0;
}

div#flex-col {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 1.5rem;
}

nav.navigation {
    z-index: 999999;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: .5rem .7rem;
    align-items: center;
    animation: intoSolid linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: 180vh;
    color: currentColor;
}

nav.navigation > div.nav-links > a {
    transition: background 300ms ease;
    color: var(--text);
    padding: .3rem .7rem;
    text-decoration: none;
    border-radius: 7px;
}

nav.navigation > div.nav-links > a:hover {
    background: var(--background-100);

}

footer.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}

footer.site-footer>div.footer-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ANIMATIONS */

@keyframes intoSolid {
    0% {
        background: var(--background);
        border-bottom: 2px solid transparent;
    }

    100% {
        background: var(--background-200);
        border-bottom: 2px solid var(--background-300);
    }
}

@keyframes gradient {
    0% {
        background-position: 100% 50%
    }

    100% {
        background-position: -33% 50%
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    from {
        transform: translateY(30px);
    }
}

/* MEDIA QUERIES */
@media (prefers-color-scheme: dark) {
    :root {
        --text: #f4f5f6;
        --background: #05060b;
        --background-100: #111422;
        --background-200: #222944;
        --background-300: #333d66;
        --primary: #395cc6;
        --secondary: #112a7e;
        --accent: #022ec0;
        --accent-300: #022597;
        --accent-600: #3564fd;
    }
}

@media screen and (max-width: 750px) {
    div#cards {
        grid-template-columns: 1fr 1fr;
    }

    div#s-cards {
        grid-template-columns: .5fr .5fr;
    }
}

@media screen and (max-width: 650px) {
    div#cards {
        grid-template-columns: 1fr;
    }

    div#s-cards {
        grid-template-columns: 1fr;
    }
}